# Ignore everything...

*

# ... Except the following

!.gitignore

!000_NiakoUtils/
!000_NiakoUtils/**
!001_DuckweedUtils/
!001_DuckweedUtils/**

!KnuraSystem/
!KnuraSystem/**
!Scatterer_KnuraSystem/
!Scatterer_KnuraSystem/**